<header>
	<nav class="teal lighten-2">
		<div class="container">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">CariWarnet</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li>
						<form name="search_1" method="get" action="/search/">
							<div class="input-field">
								<input id="search1" type="search" name="search" placeholder="Pencarian" value="">
								<label for="search1"><i class="material-icons">search</i></label>
								<i class="material-icons">close</i>
							</div>
						</form>
					</li>
					<li >
						<a href="/login" class="waves-effect waves-light">Login</a>
					</li>
					<li >
						<a href="/register" class="waves-effect waves-light">Daftar</a>
					</li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li>
						<form name="search_2" method="get" action="/search/">
							<div class="input-field">
								<input id="search2" type="search" name="search" placeholder="Pencarian" value="">
								<label for="search2"><i class="material-icons">search</i></label>
								<i class="material-icons">close</i>
							</div>
						</form>
					</li>
					<li ><a href="/login" class="waves-effect waves-light">Login</a></li> 
					<li ><a href="/register" class="waves-effect waves-light">Daftar</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>